@use "base/variables" as v;
@use "base/mixins" as m;

.header {
  background-color: v.$negro;

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0.1rem 0.2rem 0.3rem rgba(7, 241, 53, 0.5);
  }

  .contenido-header {
    padding: 2rem;
    @include m.tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    h1 {
      color: v.$rojo;
      text-align: center;
      @include m.tablet {
        margin: 0;
        text-align: left;
      }
      font-size: 3rem;
    }
    .navegacion-principal {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3.5rem;
      @include m.tablet {
        flex-direction: row;
      }
      a {
        color: v.$rojo;

        &:hover,
        &.active {
          color: v.$blanco;
        }
      }
    }
  }
}
